@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Prompt&family=Sriracha&display=swap');

* {
  font-family: 'Itim', cursive;
}

body{
  padding: 0;
  margin: 0;
  background: url(https://profile.nonlnwza.xyz/static/media/bg.96205d80e10b33104d10.png)no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}